<div class="col-md-6"> 
    <div class="panel">
    <div class="panel-body">
        <center>
            <h5></h5>
            <h5>LOG IN</h5>
        </center>
         <div class="panel panel-primary">
            <div class="panel-body">
                <form action="/api/auth/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required />
                    </div>
                    <div class="form-group">  
                        <label for="password" >Password</label>
                        <input type="password" id="password" name="password" class="form-control" required />
                    </div>
                    <hr />
                    <center>
                            <button type="submit" class="btn btn-success">Log In</button>
                            <button type="reset" class="btn btn-danger">RESET</button>
                    </center>
                    <hr />
                    <div class="alert alert-info" role="alert" id="msg2">
                    
                    </div>
                    <p class="errr"><%error%></p>
                    <p class="succ"><%msg%></p>
                </form>
            </div>
        </div>
</div>
</div>                              
</div>